{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "selector-max-id": 1,
    "max-nesting-depth": 3,
    "selector-max-compound-selectors": 4,
    "order/order": [
      [
        "custom-properties",
        "declarations"
      ],
      {
        "disableFix": false
      }
    ]
  }
}
